head
	style
		include style.css

include ../layouts/application.pug
section
	div.container
		each event in events
			- const eventHref = `events/${event.id}/show`;
			a(href=eventHref) 
				div.event
					- const imgPath = './' + event.imageurl;
					- const time = `Дата и время: ${event.date.toString().split('T')[0]} ${event.date.toString().split('T')[1]}`;
					- const price = `Стоимость: ${event.price} рублей`; 
						img(src=imgPath)
					div.description
						h3=event.name
						p=time
						p=price
footer
	p Developed by Alexander Shlepin
    
